<form [formGroup]="formdata" novalidate>
    <input type="text" name="email" formControlName="email" placeholder="email" autocomplete="off" [ngClass]="{'danger': formdata.controls.email.dirty && formdata.controls.email.invalid, 'success': formdata.controls.email.dirty && formdata.controls.email.valid}"><span
        *ngIf="formdata.controls.email.dirty && formdata.controls.email.invalid">Email
        is required</span><br>
    <input type="text" name="pword" formControlName="pword" placeholder="password" autocomplete="off"><span *ngIf="formdata.controls.pword.dirty && formdata.controls.pword.invalid">Password
        is required</span><br>
    <button type="submit" [disabled]="!formdata.valid">Submit</button>
</form>